<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-3 list center-block">
      <%= link_to "Add Me to the List", new_list_path, class: "btn-add btn"%>
    </div>
    <br>
    <div id="lists" class="list center-block">

      <% @barber.each do |barber| %>

        <div class="boxy names panel-default panel">
          <h1><%= barber.name %></h1>
          <hr>
          <% for list in barber.lists %>
              <h4><%= link_to list.name, list %></h4>
          <% end %>
          <hr>
        </div>

      <%end%>

    </div>
  </div>
</div>
