<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="panel panel-default">
          <a href="<%= new_list_path %>">Walkins</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <a href="<%= new_list_path %>">Barbers</a>
        </div>
      </div>
    </div>
  </div>
</div>
