/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
$white: #fff;
$black: #000;
$light-grey: #ededed;
$medium-grey: #8c8c8c;
$charcoal: #2a2a2a;
$blue: #006eff;
$red: #df1c1c;

body{
  background: $light-grey;
}
.center-block{
  margin: 0 auto;
  float: none;
}

.center-text{
  text-align: center;
}

.btn{
  border-radius: 0;
  border: none;
}

.form-control{
  border: none;
  border-radius: 0;
  box-shadow: 5px 17px 10px -15px $medium-grey;

  &:focus{
    box-shadow: 5px 17px 10px -15px $blue;
    transition: all ease-in-out 300ms;
  }
}
.classic-select select{
  width: 150px;
  height: 30px;
  padding: 0px 10px;
  border-radius: 0;
  outline: 4px solid $charcoal;
  outline-offset: -3px;
  background: $charcoal;
  color: #fff;
}

@import "nav";
