$white: #fff;
$black: #000;
$light-grey: #ededed;
$medium-grey: #8c8c8c;
$charcoal: #2a2a2a;
$blue: #006eff;
$red: #df1c1c;

.navbar{
  background: $charcoal;
  border-radius: 0;
  border: none;
  .navbar-nav{
    li a{
      color: $white;
      font-weight: 100;
      font-size: 15px;
      letter-spacing: 2px;
      transition: all ease-in-out .4s;
      &:hover{
        // border-bottom: 5px solid $light-grey;
        color: $charcoal;
        background:$white;
        transform: translate(0px, -10px);
        transition: all ease-in-out .4s;
      }&:focus{
        color: $white;
        font-weight: 100;
        font-size: 15px;
        letter-spacing: 2px;
        transition: all ease-in-out .4s;
      }
    }.dropdown{
      .dropdown-menu li a{
        color: $charcoal;
        font-weight: 100;
        font-size: 15px;
        letter-spacing: 2px;
        transition: all ease-in-out .4s;
        &:hover{
          // border-bottom: 5px solid $light-grey;
          color: $white;
          background:$charcoal;
          transform: translate(0px, -5px);
          transition: all ease-in-out .4s;
        }
      }
    }
  }
}
